.name{    font-size: 2em;
    font-weight: 700;
    letter-spacing: 10px;
    padding-bottom: 0;
}

h1, h3, h4 {text-align: center}

#about { 
    display: none;  
    position: absolute; 
    background-color: white;
    max-width: 800px;
    padding: 50px;
    min-height: 100px;
    z-index: 1;
    /*Centering/positioning*/

    /*Shadow*/
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.50);
}

#about-pro-img{width: 250px; height: auto;
border-radius: 150px;

}
hr{
    margin: 0 30px;
margin-bottom: 20px;
border-color: rgba(0, 0, 0, 0.411);
}
.left-col { width:auto;
    padding:20px;
    }
.right-col{ min-width:200px;
    max-width: 60%;
    margin-left:20px;
}

.col {float: left; }

#web-links ul, #email-links ul {
    list-style-type: none;
    padding:0;
    margin:0;

    /*Text*/
    font-size: 0.9em;
    letter-spacing: 1.1px;
    font-weight: 500;
    
}
.bold{font-weight: 600}
#web-links ul a {text-decoration: none; color: black;}

/* 
    education bar

*/
#school-bar {
    font-family: 'Oswald', s-serif;
    background-image: linear-gradient(45deg, rgb(0, 102, 255), rgb(144, 182, 252));
    max-width: auto;
    min-height: 100px;
    color:white;
    border-radius: 20px;
}
.col-school{
    margin: 10px;
    float: left;
    text-align: center;
}


#school, h2{
    text-align: left;
}
#school{
    margin-top: 0px;
    margin-right:15%;

}

#program-name{
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 0;
}
.edu-ico{
    font-size: 2em;
}